<html>
<head> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>%title% | %sitename%</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="%siteroot%/res/style.css">
</head>
<body>
</div>
<div class="contatiner">
  <div id="navbar">
    <ul class="nav">
      <li><a href="%siteroot%/index.html">Home</a></li>
      <li><a href="%siteroot%/projects.html">Projects</a></li>
      <li><a href="%siteroot%/notes/index.html">Notes</a></li>
    </ul>
  </div>
  <h1>%title%</h1>
  <div id="content">
%content%
  </div>
</div>
</body>
</html>
